<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('../partials/_navbar') -%>


    <h1><%= title %>| <%= employee.EmployeeID %></h1>

    <% if (typeof error != 'undefined') { %>
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
    <% } %>

    <form action="/employees/<%= employee.EmployeeID %>/update" method="POST">
        <div class="form-horizontal">
            <div class="form-group row">
                <label class="col-form-label col-sm-2" htmlFor="Title">Title</label>
                <div class="col-sm-8">
                    <input autofocus class="form-control" name="Title" value="<%= employee.Title%>" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-sm-2" htmlFor="FirstName">FirstName</label>
                <div class="col-sm-7">
                    <input class="form-control" name="FirstName" value="<%= employee.FirstName%>" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-sm-2" htmlFor="LastName">LastName</label>
                <div class="col-sm-7">
                    <input class="form-control" name="LastName" value="<%= employee.LastName%>" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-sm-2"></label>
                <div class="col-sm-10">
                    <input type="submit" value="Save" class="btn btn-default btn-success" />
                    <a class="btn btn-outline-dark cancel" href="/employees">Cancel</a>
                </div>
            </div>

        </div>
    </form>

</body>

</html>
